body {
    background-color: #fff;
}
.sidebar {
    background-color: #0000ff;
    padding: 20px;
    height: 140vh;
    border-right: 1px solid #ddd;
    color: white;
}
.sidebar .nav-link {
    color: white;
    cursor: pointer;
    padding: 20px;
}
.sidebar .nav-link.active {
    background-color: #0000ff;
    color: white;
}
.sidebar .nav-link i {
    margin-right: 10px;
}
.content {
    padding: 20px;
    width: 100%;
}
.header {
    background-color: #0056b3;
    color: white;
    padding: 10px;
}
.card {
    border-radius: 10px;
}
.card i {
    font-size: 24px;
}
.profile {
    text-align: center;
    margin-bottom: 20px;
}
.profile img {
    border-radius: 50%;
    width: 100px;
    height: 100px;
}
.profile h5 {
    margin-top: 10px;
    margin-bottom: 5px;
}
.profile p {
    margin-bottom: 5px;
}
.welcome-section {
    color: white;
    padding: 20px 0;
}

.welcome-section img {
    width: 50px;
    height: 50px;
}

.welcome-section p {
    font-size: 16px;
    font-weight: bold;
    margin: 0;
}

.welcome-section small {
    color: #d1d1d1;
}
